.tech-category {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category {
  flex: 1 1 200px; /* Responsive width */
  text-align: center;
}

.tech-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tech-icons img {
  transition: transform 0.3s;
}

.tech-icons img:hover {
  transform: scale(1.2); /* Zoom on hover */
}
